/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

body{

    min-height: 100vh;
    background: linear-gradient(#EEEEFF,#C8C7FF);
}

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
} */

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    opacity: 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    pointer-events: none;
    transform: scale(0.2);
    transform-origin: bottom right;
    transition: all 0.1s ease;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

#chatbot-toggler{
    position: fixed;
    bottom: 30px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: #5350C4;
    transition: all 0.2s ease;
}

#chatbot-toggler-weather{
    position: fixed;
    bottom: 100px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    transition: all 0.2s ease;
}

#chatbot-toggler-gen{
    position: fixed;
    bottom: 170px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: #5350C4;
    transition: all 0.2s ease;
}


body.show-chatbot #chatbot-toggler{
    transform: rotate(90deg);
}

body.show-weather #chatbot-toggler-weather{
    transform: rotate(90deg);
}

body.show-gen #chatbot-toggler-gen{
    transform: rotate(90deg);
}



#chatbot-toggler span{
    color: #fff;
    position: absolute;
}

#chatbot-toggler-weather span{
    color: #fff;
    position: absolute;
}

#chatbot-toggler-gen span{
    color: #fff;
    position: absolute;
}

body.show-chatbot #chatbot-toggler span:first-child,
#chatbot-toggler span:last-child{
    opacity: 0;
}

body.show-chatbot #chatbot-toggler span:last-child{
    opacity: 1;
}

body.show-weather #chatbot-toggler-weather span:first-child,
#chatbot-toggler-weather span:last-child{
    opacity: 0;
}

body.show-weather #chatbot-toggler-weather span:last-child{
    opacity: 1;
}

body.show-gen #chatbot-toggler-gen span:first-child,
#chatbot-toggler-gen span:last-child{
    opacity: 0;
}

body.show-gen #chatbot-toggler-gen span:last-child{
    opacity: 1;
}

.chatbot-popup{
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420PX;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0;
    transform: scale(0.2);
    transform-origin: bottom right;
    pointer-events: none;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

/* Toggle chatbot and weather and gen */
body.show-chatbot .chatbot-popup{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

body.show-weather .card{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
body.show-gen .container{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}


.chat-header{
    display: flex;
    align-items: center;
    background: #5350C4;
    padding: 15px 22px;
    justify-content: space-between;
}

.chat-header .header-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info .chatbot-logo{
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #5350C4;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;
}

.header-info .logo-text{
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header #close-chatbot{
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 1.9rem;
    border-radius: 50%;
    background: none;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
    background: #3d39ac;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    height: 460px;
    margin-bottom: 82px;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
    
}

.chat-body .bot-message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message .bot-avatar {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #fff;
    align-self: flex-end;
    flex-shrink: 0;
    margin-bottom: 2px;
    margin-bottom: 2px;
    background: #5350C4;
    border-radius: 50%;
}

.chat-body .user-message{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .message .message-text{
    padding :12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
    
}

.chat-body .bot-message.thinking .message-text{
    padding :2px 16px;
    
}

.chat-body .bot-message .message-text{
    background: #F2F2FF;
    border-radius: 13px 13px 13px 3px;
    color: #000;
}

.chat-body .user-message .message-text{
    color: #fff;
    background: #5350C4;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message .attachment {
    width: 50%;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
}

.chat-body .bot-message .thinking-indicator{
    display: flex;
    gap: 4px;
    padding-block: 15px;
    
}

.chat-body .bot-message .thinking-indicator .dot{
    height: 7px;
    width: 7px;
    opacity: 0.7;
    border-radius: 50%;
    background: #6f6bc2;
    animation: dotPulse 1.8s ease-in-out infinite;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1){
    animation-delay: 0.2s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2){
    animation-delay: 0.3s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes dotPulse{
    0%, 44%{
        transform: translateY(0);
    }

    28%{
        opacity: 0.4;
        transform: translateY(-4px);
    }

    44%{
        opacity: 0.2;
    }
}



.chat-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form{
    display: flex;
    position: relative;
    align-items: center;
    background: #fff;
    outline: 1px solid #cccce5;
    border-radius: 32px;
}

.chat-footer .chat-form:focus-within {
    outline: 2px solid #5350C4;
}

.chat-form .message-input{
    border: none;
    outline: none;
    height: 46px;
    width: 100%;
    resize: none;
    max-height: 180px;
    white-space: pre-line;
    font-size: 0.95rem;
    padding: 14px 0 13px 18px;
    border-radius: inherit;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.chat-form .message-input:hover {
    scrollbar-color: #ccccf5 transparent;

}

.chat-form .chat-controls{
    display: flex;
    align-items: center;
    align-self: flex-end;
    height: 47px;
    padding-right: 6px;
    gap: 3px;
}

.chat-form .chat-controls button{
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    background: none;
    color: #706d80;
    border-radius: 50%;
    font-size: 1.15rem;
    transition: 0.2s ease;
}

.chat-form .chat-controls #send-message {
    background: #5350C4;
    color: #fff;
    display: none;
}

.chat-form .message-input:valid~.chat-controls #send-message {
    display: block;
}

.chat-form .chat-controls #send-message:hover {
    background: #3d39ac;
}

.chat-form .chat-controls button:hover{
    background: #f1f1ff;
}

.chat-form .file-upload-wrapper{
    height: 35px;
    width: 35px;
    position: relative;
}

.chat-form .file-upload-wrapper :where(img, button){
    position: absolute;

}

.chat-form .file-upload-wrapper img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-form .file-upload-wrapper #file-cancel{
    color: #ff0000;
    background: #fff;
}
.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload{
    display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel {
    display: block;

}

em-emoji-picker {
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    visibility: hidden;
    transform: translateX(-50%);
}

body.show-emoji-picker em-emoji-picker{
    visibility: visible;
}

/* Responsive media for mobile */



:root {
    --color-primary: #5C56E1;
    --color-primary-dark: #5b21b6;
    --color-accent: #8B5CF6;
    --color-card: #FFFFFF;
    --color-input: #f1f1f1;
    --color-text: #09090E;
    --color-placeholder: #5C5A87;
    --color-border: #D4D4ED;
    --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
}

body.dark-theme{
    --color-card: #1E293B;
    --color-input: #141B2D;
    --color-text: #F3F4F6;
    --color-placeholder: #A3B6DC;
    --color-border: #334155;

    background: var(--color-card);
    background-image: radial-gradient(circle at 15% 50%, rgba(99,102,241,0.15) 0%, transparent 35%), radial-gradient(circle at 85% 30%, rgba(139,92,246,0.15) 0%, transparent 35%), 
    radial-gradient(circle at 50% 80%, rgba(99,102,241,0.1) 0%, transparent 45%);

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--color-text);
    background: linear-gradient(#EEEEFF,#C8C7FF);
    padding: 15px;

}

.container{
    width: 900px;
    background: var(--color-card);
    padding: 32px;
    border-radius: 23px;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
}



body.dark-theme .container{
    border: 1px solid var(--color-border);
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo-wrapper {
    display: flex;
    gap: 18px;
    align-items: center;
}

.header .logo-wrapper .logo {
    height: 55px;
    width: 56px;
    display: flex;
    color: #fff;
    font-size: 1.35rem;
    flex-shrink: 0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient);
}

.header .logo-wrapper h1 {
    font-size: 1.9rem;
    font-weight: 700;

}

.header .theme-toggle {
    height: 43px;
    width: 43px;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex;
    color: var(--color-placeholder);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.header .theme-toggle:hover{
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content{
    margin: 35px 0 5px;
}

.main-content .prompt-container{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.prompt-container .prompt-input{
    width: 100%;
    line-height: 1.6;
    font-size: 1.05rem;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    min-height: 120px;
    padding: 16px 20px;
    background: var(--color-border);
    border-radius: 15px;
}

.prompt-container .prompt-input::placeholder {
    color: var(--color-placeholder);
}

.prompt-container .prompt-input:focus {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 4px rgba(139, 92, 246, 0.15);
}

.prompt-container .prompt-btn{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    border: none;
    font-size: 0.75rem;
    border-radius: 50%;
    opacity: 0.8;
    color: var(--color-card);
    background: var(--color-gradient);
    transition: all 0.3s ease;
    cursor: pointer;
}

.prompt-container .prompt-btn:hover {
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content .prompt-actions {
    display: grid;
    gap: 14px;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;
    /* Xác định phần trăm kích thước các cột trong không gian với tỉ lệ như trên */

}

.prompt-actions .select-wrapper {
    position: relative;
}

.prompt-actions .select-wrapper::after {
    /* Thêm mũi tên chỉ xuống trong phần select */
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 0.9rem;
    color: var(--color-placeholder);
    padding-left: 7px;
    pointer-events: none;
    background: var(--color-input);
    transform: translateY(-50%);
}

.prompt-actions :where(.custom-select, .generate-btn) {
    /* Áp dụng Css cho các phần tử có 1 trong 2 class con */
    cursor: pointer;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.prompt-actions .custom-select {
    width: 100%;
    outline: none;
    height: 100%;
    appearance: none;
    /* được dùng để loại bỏ kiểu mặc định của trình duyệt trên một số phần tử form như <input>, <select>, <button>, v.v. */
    /* Gỡ bỏ giao diện mặc định (nút mũi tên, đường viền, kiểu nút...) */
    color: var(--color-text);
}

.prompt-actions .custom-select:is(:focus, :hover) {
    /* Khi focus hay chỉ vào sẽ có hiệu ứng css */
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.1);
}

.prompt-actions .generate-btn {
    display: flex;
    gap: 12px;
    margin-left: auto;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    border: none;
    color: #fff;
    background: var(--color-gradient);
}

.prompt-actions .generate-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(109, 40, 217, 0.3);
}

.main-content .gallery-grid:has(.img-card) {
    margin-top: 30px;
}

.main-content .gallery-grid{
    display: grid;
    gap: 15px;
    
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

}

.gallery-grid .img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /* cố định tỉ lệ chiêu cao và chiều dài là 1:1 */
    aspect-ratio: 1;
    background: var(--color-input);
    border-radius: 16px;
    border: 1px solid var(--color-border);
    transition: all 0.5s ease;
}

.gallery-grid .img-card:not(.loading, .error):hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.gallery-grid .img-card .result-img{
    width: 100%;
    height: 100%;
    /* Ảnh/video sẽ được cắt và phóng to vừa đủ để bao phủ toàn bộ khung chứa, mà không bị méo tỷ lệ.
Tuy nhiên, phần dư sẽ bị cắt đi nếu cần. */
    object-fit: cover;
}

.gallery-grid .img-card:is(.loading, .error) :is(.result-img, .img-overlay){
    display: none;
}


.gallery-grid .img-card .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    transition: all 0.3s ease;
}

.gallery-grid .img-card:hover .img-overlay {
    opacity: 1;
    pointer-events: auto;
}

.gallery-grid .img-card .img-download-btn {
    height: 45px;
    width: 45px;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
}

.gallery-grid .img-card .img-download-btn:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.4);
   
}

.gallery-grid .img-card .status-container {
    padding: 15px;
    display: none;
    gap: 13px;
    flex-direction: column;
    align-items: center;
}

.gallery-grid .img-card:where(.loading, .error) .status-container{
    display: flex;
}

.gallery-grid .img-card.loading .status-container i,
.gallery-grid .img-card.error .spinner {
    display: none;
}

.gallery-grid .img-card.error .status-container i {
    font-size: 1.7rem;
    color: #ef4444;
}
.gallery-grid .img-card.loading .spinner{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--color-border);
    border-top-color: var(--color-primary);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }

}

.gallery-grid .img-card .status-text {
    color: var(--color-placeholder);
    font-size: 0.85rem;
    text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    position: relative;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
    box-shadow: none;
    height: auto;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  .main-content .prompt-actions {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .prompt-actions .generate-btn {
    width: 100%;
    justify-content: center;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .chatbot-popup {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .chat-body {
    height: calc(100% - 120px);
    padding: 20px;
  }

  .chat-footer {
    padding: 10px 15px;
  }
}